h1, h2, h3 {
	margin: 0 0;
}
h2, h3 {
	padding-bottom: 50px;
}
div {
	box-sizing: border-box;
}
ul {
	list-style: none;
	padding-left: 0;
	margin: 0 0;
}
a {
	text-decoration: none;
	color: #fff;
}
img {
	display: block;
}

/* fonts */
h1 {
	font: 700 60px/24px Roboto;
	color: #fff;
	text-transform: uppercase;
}
p {
	font: 400 18px/30px Roboto;
	margin: 0 0;
	color: #919191;
}
.head {
	font: 700 30px/24px Roboto;
	text-transform: uppercase;
	color: #566366;
}
.medium {
	font: 700 22px/30px Roboto;
	color: #566366;
	text-transform: uppercase;
}
/* /fonts */

/* buttons */
.button {
	padding-top: 60px;
	padding-bottom: 21px;
}
.btn {
	font: 700 18px/24px Roboto;
	text-transform: uppercase;
	padding: 20px 36px;
}
.main-btn {
	display: inline;
}
.white-btn {
	border: 2px solid #fff;
}
.green-btn {
	border: 2px solid #2ecc71;
	color: #2ecc71;
}
/* /buttons */

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.content {
	padding: 100px 0;
}

.text-center {
	text-align: center;
}
.col-left {
	float: left;
    width: 45%;
}
.col-right {
	float: right;
    width: 45%;
    padding-top: 32px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.bottom, #portfolio .bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}



/* MAIN */
#main {
	background: url(../img/container.png) no-repeat;
	background-size: cover;
	height: 100vh;
}
.main-content {
	position: absolute;
	top: 56%;
}
.headline {
	padding: 30px 0;
    margin: 0 225px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 90px;
}



/* NAVIGATION */
.logo a {
	display: block;
	cursor: url(../img/cursor.cur), pointer;
}
#nav {
	background-color: #252e30;
}
.menu {
	padding-top: 9px;
}
.menu li {
	font: 700 16px/30px Roboto;
	text-transform: uppercase;
	float: left;
	/*margin: 0 20px;*/
	margin: 0 10px;
}
li.last {
	margin-right: 0;
}
.menu li:hover > a {
	color: #2ecc71;
	cursor: url(../img/cursor.cur), pointer;
}
.first {
	padding-bottom: 35px;
}



/* ABOUT ME */
.data {
	background-color: #f2f2f1;	
}
.values, .goals, .hobbies {
	text-align: justify;
	width: 29%;
	margin: 6% 0;
}
.goals {
	display: inline-block;
}
.photo {
	margin-right: 6%;
	width: 31%;
	height: 754px;
    background: url(../img/man.png) center;
}
.photo:hover {
	background: url(../img/man2.png) center;
	cursor: pointer;
}
#about .skills {
	padding-top: 80px;
}
.web, .graph, .marketing, .seo {
	width: 28%;
	padding-bottom: 3%;
}
#about .medium {
	padding-bottom: 28px;
}
#about .icon {
	float: left;
	width: 41px;
	height: 45px;
	margin-top: 7px;
	margin-bottom: 12%;
    margin-right: 6%;
}
#about .web .icon  {
	background: url(../img/about-icons.png);
}
#about .graph .icon {
	width: 37px;
	background: url(../img/about-icons.png) -47px 0;
}

#about .marketing .icon  {
	background: url(../img/about-icons.png) -86px 0;
}

#about .seo .icon {
	background: url(../img/about-icons.png) 41px 0;
}



/* SKILLS */
progress {
	width: 100%;
    height: 30px;
	background: #2ecc71;
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
}
progress::-webkit-progress-value { background: #2ecc71; }
progress::-moz-progress-bar { background: #2ecc71; }
progress[value]::-webkit-progress-bar {
  background-color: #f2f2f1;
}
progress[value]::-moz-progress-bar {
  background-color: #f2f2f1;
}
progress[value]::-webkit-progress-value::before {
  content: '80%';
  position: absolute;
  right: 0;
  top: -125%;
}
progress:after {
  content: attr(value)'%';
  font: 700 18px/30px Roboto;
  color: #fff;
  position: absolute;
  top: 0;
}
progress.photoshop:after {
	left: 437px;
}
progress.illustrator:after {
	left: 384px;
}
progress.html:after {
	left: 437px;
}
progress.php:after {
	left: 330px;
}


/* RESUME */
.part-1 {
	background-color: #f2f2f1;
}
.part-1 .content {
	padding: 100px 60px;
}
.part-1::after {
	content: "";
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #f2f2f1;
	position: absolute;
	left: 48%;
}
.education .wrapper {
	border-bottom: 1px solid #cccccc;
}
.diploma {
	padding-bottom: 80px;
}
.diploma-data {
	padding-bottom: 35px;
    border-bottom: 1px solid #cccccc;
}
.diploma .desc {
	padding-top: 25px;
}
.date {
	padding-top: 7px;
	padding-bottom: 20px;
}
.date span {
	font-weight: 700;
}
.grade {
	display: inline;
	padding: 10px;
	background-color: #2ecc71;
	color: #fff;
	font: 700 14px/30px Roboto;
}



/* testimonials */
#testimonials {
	background-color: #f2f2f1;
}
#testimonials .content {
    padding: 100px 60px;
}
blockquote {
	margin: 0 0;
	font: 400 italic 24px/36px Roboto;
}
cite {
	font: 700 18px/36px Roboto;
	text-transform: uppercase;
    display: block;
	padding: 52px 0;
}
.navigation  {
	display: inline-block;
}
.navigation li {
	float: left;
	width: 11px;
	height: 11px;
	margin: 0 5px;
	border: 2px solid #2ecc71;
	border-radius: 11px;
}
.navigation li:hover {
	cursor: pointer;
}
.navigation .active {
	background-color: #2ecc71;
}



/* PORTFOLIO */
#portfolio .text-center {
	padding: 0 60px;
}
#portfolio ul {
    text-align: justify;
}
#portfolio li  {
    display: inline-block;
    text-align: left;
    width: 29%;
    padding-bottom: 65px;
}
#portfolio li.helper {
    padding: 0 0;
    visibility: hidden;
}
#portfolio img {
	width: 100%;
}
#portfolio a {
	display: block;
}
#portfolio li:hover a {
	cursor: url(../img/cursor.cur), pointer;
	background: #2ecc71;
}
#portfolio li:hover img {
	opacity: 0.3;
}



/* CONTACT */
#contact {
	background-color: #252e30;
}
#contact h2, #contact span {
	color: #fff;
}
#contact span {
	font: 400 18px/30px Roboto;
}
#contact a {
	font: 400 18px/30px Roboto;
	color: #919191;
}
#contact .row {
	width: 210px;
}
/* FORM */
.form-group {
	padding-bottom: 40px;
}
label {
	display: block;
	font: 400 18px/30px Roboto;
	color: #fff;
	padding-bottom: 20px;
}
.required label::after {
	content: "*";
	padding-left: 7px;
}
input, textarea {
	width: 97%;
	background-color: #4b5456;
    border: none;
    padding-left: 15px;
}
input:focus, textarea:focus {
	outline: none;
}
#name, #email {
	height: 56px;
}
textarea {
	height: 280px;
}
.submit {
	width: auto;
	padding: 20px 38px;
	font: 700 18px/24px Roboto;
	background-color: #191f21;
	color: #fff;
	text-transform: uppercase;
}
.submit:hover {
	cursor: pointer;
}



/* FOOTER */
footer {
	background-color: #191f21;
	margin-top: -2px; /* ??? */
}
.footer {
	padding: 50px 0;
}
.copyright {
	font: 500 14px/30px Roboto;
	text-transform: uppercase;
	color: #4b5456;
	padding-bottom: 28px;
}
.socia ul {
	display: inline-block;
}
.socia li {
	float: left;
	width: 34px;
	height: 34px;
	margin: 0 5px;
	border-radius: 34px;
	background-color: #4b5456;
}
.socia a {
	display: inline-block;
}
.socia i {
	padding: 8px;
    font-size: 19px;
    color: #191f21;
}
.socia li:hover i {
	cursor: url(../img/cursor.cur), pointer;
	color: #fff;
}

/* just for bootstrap */
#nav {
	position: fixed;
    top: 0;
    width: 100%;
    border: none;
    z-index: 99;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #2ecc71;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}